---
import { getCollection } from 'astro:content';

const projects = await getCollection('projects');
---

<div class="grid grid-cols-1 md:grid-cols-2 gap-8">
  {
    projects.map(project => {
      const { slug, data } = project;
      const { name, cover, localization, team } = data;

      return (
          
      <div class="p-6">
        <img src={`/${cover}`} alt={`${name} image`}/>
        <h3 class="mt-4">{name}</h3>
        <p class="text-sm text-gray-600">{localization}</p>
        <p class="text-sm text-gray-600">Equip: {team}</p>
      </div>
    
      )
    })
  }                
</div>
